.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}

@media (max-width: 576px){
  .content{
    padding: 0px !important;
  }
}

.site-layout .site-layout-background {
  background: #fff;
}

.ant-layout-header{
  padding: 0px !important;
}