@media (max-width: 576px){
  .col{
    width: 100% !important;
    max-width: 100% !important;
  }

  .CardOnTop {
    display: block !important;
  }
}

.CardOnTop .ant-card-body{
  padding: 0px !important;
}
